#root {
  width: fit-content;
  position: absolute;
  // background-color: #feeeda !important;
  // background-color: #e4e4e4 !important;
  // background-color: #b9e9f1 !important;
  // background-color: #d5f3f4;
  // color: #646ada;
  // color: #2b5e79;
  // color: white;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #999999;
  background: no-repeat center top;
  background-size: 100%;
  display: flex;
  // flex-wrap: wrap;
  

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-size: 10px;

    .label {
      position: absolute;
      bottom: 20px;
      align-items: center;
      width: 60px;
      height: 25px;
      background-size: 100% 100%;
    }

    .tipIcon {
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      background-size: 100% auto;
      border-radius: 5px;
      border: 1px solid #666666;
      cursor: pointer;
      background-image: url("../../assets/workTip.jpg");

      &:hover {
        background-image: url("../../assets/workTip_over.jpg");
        opacity: 1;
      }
    }

    .daji {
      background-image: url("../../assets/daji.jpg");
    }

    .luodi {
      background-image: url("../../assets/luodi.jpg");
    }

    .quanzhanghu {
      background-image: url("../../assets/quanzhanghu.jpg");
    }
  }

  .text-container {
    display: flex;
    flex-flow: wrap column;

    p {
      max-width: 280px;
      min-width: 240px;
      line-height: 18px;
      margin: 5px;
      padding: 1px 5px;
      word-break: break-all;
    }

    .bigimg {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }

    .image-container {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;

      img {
        height: 25px;
        width: 25px;
        margin-right: 3px;
        margin-bottom: 3px;
      }
    }
  }

  .btn-container {
    position: absolute;
    top: -25px;
    right: 0px;
    opacity: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: lightyellow;
    // width: auto;

    &:hover {
      opacity: 1;
    }

    .btn-user{
      display: flex;

      .btn-container-account{
        display: flex;
      }
    }

    .btn {
      width: 24px;
      height: 24px;
      background-size: 100% auto;
      cursor: pointer;

      margin-left: 2px;

      &:hover {
        opacity: 1;
      }
    }

    .btnDel {
      background-image: url("../../assets/delete.png");

      &:hover {
        background-image: url("../../assets/delete_over.png");
      }
    }

    .btnFilter {
      background-image: url("../../assets/filter.png");

      &:hover {
        background-image: url("../../assets/filter_over.png");
      }
    }

    .btnEdit {
      background-image: url("../../assets/edit2.png");

      &:hover {
        background-image: url("../../assets/edit2_over.png");
      }
    }

    .btnWorkTips {
      background-image: url("../../assets/workTip.png");

      &:hover {
        background-image: url("../../assets/workTip_over.png");
      }
    }

    .btnDownload {
      background-image: url("../../assets/download.png");

      &:hover {
        background-image: url("../../assets/download_over.png");
      }
    }

    .btnAttachment {
      background-image: url("../../assets/attachment.png");

      &:hover {
        background-image: url("../../assets/attachment_over.png");
      }
    }

    .btnConnect {
      background-image: url("../../assets/connect.png");

      &:hover {
        background-image: url("../../assets/connect_over.png");
      }
    }

    .btnDuration {
      background-image: url("../../assets/duration.png");

      &:hover {
        background-image: url("../../assets/duration_over.png");
      }
    }

    .btnRemark {
      background-image: url("../../assets/remark.png");

      &:hover {
        background-image: url("../../assets/remark_over.png");
      }
    }

    .btnFreeze {
      background-image: url("../../assets/snow.png");

      &:hover {
        background-image: url("../../assets/snow_over.png");
      }
    }

    .btnPerson {
      background-image: url("../../assets/person.png");

      &:hover {
        background-image: url("../../assets/person_over.png");
      }
    }

    .btnAddRecord {
      background-image: url("../../assets/add-record.png");

      &:hover {
        background-image: url("../../assets/add-record-over.png");
      }
    }

    .person {
      background-image: url("../../assets/person2.png");
    }
  }

  .btn-fold-v{
    // justify-content: center;
    // align-self: flex-end;
    position:absolute;
    background-image: url("../../assets/fold.png");
    background-size: 100% auto;
    width: 20px;
    height: 20px;

    left: 0; 
    right: 0; 
    bottom: 0;
    margin: auto;
    
    &:hover{
      background-image: url("../../assets/fold_over.png");
    }
  }

  .btn-fold-h{
    position:absolute;
    background-image: url("../../assets/fold.png");
    background-size: 100% auto;
    width: 20px;
    height: 20px;

    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;

    rotate: -90deg;
    
    &:hover{
      background-image: url("../../assets/fold_over.png");
    }
  }
}

.selected {
  border: 3px solid red !important;
  // transform: scale(1.1);
}

//mat tool-tip的换行
::ng-deep .mat-tooltip {
  white-space: pre-wrap;
}