<h1 matDialogTitle>更改查询时长</h1>

<mat-dialog-content>
  <div style="display: flex; padding-bottom: 20px; align-items: center;">
    <mat-form-field style="width: 100px; margin-right: 5px;">
      <mat-label>天</mat-label>
      <input matInput type="number" min=0 [(ngModel)]="day" autocomplete="off">
    </mat-form-field>

    <mat-form-field style="width: 100px; margin-right: 5px;">
      <mat-label>小时</mat-label>
      <input matInput type="number" min=0 max="23" [(ngModel)]="hour" autocomplete="off">
    </mat-form-field>

    <mat-form-field style="width: 100px;">
      <mat-label>分钟</mat-label>
      <input matInput type="number" min=0 max="59" [(ngModel)]="minute" autocomplete="off">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>取消</button>
  <button mat-button (click)=onSubmit() matDialogClose>确定</button>
</mat-dialog-actions>
