/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

@import 'tippy.js/dist/tippy.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

@font-face {
  font-family: 'expand';
  src: url('assets/expand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.material-icons {
  font-family: 'expand';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.ag-theme-alpine .row1 {
  background-color: rgb(211, 235, 243);
}


.ag-theme-alpine .highLight_main_case {
  background-color: red;
  color: yellow;
}

.ag-theme-alpine .highLight_other_case {
  background-color: #e7d31c;
}


.ag-theme-alpine .highLight_cash {
  background-color: #42b983;
  color: #f5fbf9;
}

.ag-theme-alpine .highLight_nextNode {
  background-color: #3926df;
  color: #f5fbf9;
}

.ag-theme-alpine .highLight_returned_money {
  background-color: blue;
  color: white;
}

.ag-theme-alpine .highLight3 {
  background-color: #45545f;
  color: cec6b6;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.line {
  display: flex;
  align-items: center;
  width: 100%;

  >* {
    display: flex;
    margin-right: 15px;
  }
}



// .ag-theme-alpine .ag-row.ag-row-odd{

// }

//ag grid 行选择样式，注意要设置[rowSelection]="'single'"
.ag-theme-alpine .ag-row.ag-row-selected {
  background-color: indianred;
}



::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  color: red !important;
}